@font-face {
  font-family: fujimaru;
  src: url(/fonts/fujimaru.ttf);
}
html {
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  display: none;
}
html #layout_wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
html #layout_wrapper .fixed_nav {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: row;
  bottom: 2%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  html #layout_wrapper .fixed_nav {
    flex-direction: column;
    top: 50%;
    left: 1%;
    width: auto;
    transform: translateY(-50%);
  }
}
html #layout_wrapper .fixed_nav .fixed_nav_btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: #333;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 4px;
  margin: 0 0.4rem;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 0 0 #fff;
  animation: 0.25s cubic-bezier(0.32, 1.15, 0.51, 1.22) 1 both;
  animation-name: mobile-intro-bounce;
  z-index: 255;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:nth-child(1) {
  animation-delay: 2.2s;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:nth-child(2) {
  animation-delay: 2.3s;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:nth-child(3) {
  animation-delay: 2.4s;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:nth-child(4) {
  animation-delay: 2.5s;
}
@media screen and (min-width: 768px) {
  html #layout_wrapper .fixed_nav .fixed_nav_btn {
    margin: 0.4rem 0;
    animation-name: page-intro-bounce;
  }
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:after {
  content: attr(data-tag);
  display: block;
  position: absolute;
  background: #333;
  padding: 12px 0.4rem 18px 0.4rem;
  margin-bottom: 240%;
  min-width: 75px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #f2f2f2;
  letter-spacing: 1.25px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  html #layout_wrapper .fixed_nav .fixed_nav_btn:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 1rem 13px 1.5rem;
    margin-left: 115%;
    margin-bottom: 0%;
    min-width: 96px;
    font-size: 14px;
    clip-path: polygon(0% 50%, 12% 0%, 100% 0%, 100% 100%, 12% 100%, 0% 50%);
    border-radius: 0 4px 4px 0;
  }
}
html #layout_wrapper .fixed_nav .fixed_nav_btn .st0 {
  fill: #f2f2f2;
  transition: fill 0.15s ease-in-out;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn .st1 {
  transition: fill 0.15s ease-in-out;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:hover {
  border: none;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:hover:after {
  opacity: 1;
  animation: 0.2s cubic-bezier(0.32, 1.15, 0.51, 1.22) 1 both;
  animation-name: tap-bounce;
}
@media screen and (min-width: 768px) {
  html #layout_wrapper .fixed_nav .fixed_nav_btn:hover:after {
    animation: 0.2s cubic-bezier(0.32, 1.15, 0.51, 1.22) 1 both;
    animation-name: hover-bounce;
  }
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:hover .st0 {
  fill: #ff6a38;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:hover .st1 {
  fill: #c54800;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:active,
html #layout_wrapper .fixed_nav .fixed_nav_btn:focus {
  box-shadow: 0 0 4px #ff6a38;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:active:after,
html #layout_wrapper .fixed_nav .fixed_nav_btn:focus:after {
  opacity: 1;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:active .st0,
html #layout_wrapper .fixed_nav .fixed_nav_btn:focus .st0 {
  fill: #ff6a38;
}
html #layout_wrapper .fixed_nav .fixed_nav_btn:active .st1,
html #layout_wrapper .fixed_nav .fixed_nav_btn:focus .st1 {
  fill: #c54800;
}
html #layout_wrapper #layout_main section {
  width: 100vw;
  height: 100vh;
}
html #layout_wrapper #layout_main section:nth-of-type(even) {
  background-color: #111;
}
html #layout_wrapper #layout_main section#layout_intro {
  background-color: #030303;
  background-image: url("/gfx/home_bg_shadow.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
html #layout_wrapper #layout_main section#layout_intro .intro_logo {
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 1vh 0 0 0;
}
@media screen and (min-width: 768px) {
  html #layout_wrapper #layout_main section#layout_intro .intro_logo {
    padding: 15vh 0 0 0;
  }
}
html #layout_wrapper #layout_main section#layout_intro .intro_logo #ashwinter_crest {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: intro-draw-crest 1.55s linear forwards;
}
html #layout_wrapper #layout_main section#layout_intro .intro_logo #ashwinter_crest .crest_ring,
html #layout_wrapper #layout_main section#layout_intro .intro_logo #ashwinter_crest .crest_dark,
html #layout_wrapper #layout_main section#layout_intro .intro_logo #ashwinter_crest .crest_light {
  opacity: 0;
  animation: intro-fill-crest 0.15s linear forwards 1.35s;
}
html #layout_wrapper #layout_main section#layout_intro .intro_logo #ashwinter_title g path {
  fill: rgba(0, 0, 0, 0);
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: intro-draw-title 2s linear forwards, intro-fill-title 0.15s linear forwards 1.55s;
}
html #layout_wrapper #layout_main section#layout_roster {
  background-color: #030303;
  background-image: url("/gfx/roster_bg_shadow.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
@keyframes page-intro-bounce {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hover-bounce {
  0% {
    transform: translateX(125px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes mobile-intro-bounce {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes tap-bounce {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes intro-fill-crest {
  to {
    opacity: 1;
  }
}
@keyframes intro-draw-crest {
  90% {
    stroke-dashoffset: 0;
    stroke-width: 0.5;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@keyframes intro-draw-title {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes intro-fill-title {
  to {
    fill: #f2f2f2;
  }
}
